<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>





<!-- 	
		<property name="connection.url">jdbc:mysql://mysql.clinicavanity.com.br/clinicavanity</property>
		<property name="connection.username">clinicavanity</property>
		<property name="connection.password">4550PMXD</property>
 -->	 

		<property name="connection.url">jdbc:mysql://localhost/clinicaadm</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">0</property>
        
        <!-- Setando o encoding das tabelas e dos seus campos -->
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property>

        <!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
<!-- 
        <property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">create-drop</property>
 -->        
        
        <mapping resource="br/com/pilates/dao/resource/Avaliacao.hbm.xml"/>
        <!-- 
        <mapping resource="br/com/pilates/dao/resource/AvaliacaoAlteracoesCirculatorias.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/AvaliacaoCirurgiaPlastica.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/AvaliacaoDaySpa.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/AvaliacaoDepilacao.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/AvaliacaoDermatologia.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/AvaliacaoEstria.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/AvaliacaoGestante.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/AvaliacaoGorduraLocalizada.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/AvaliacaoLimpezaPele.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/AvaliacaoNatacaoInfantil.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/AvaliacaoNutricao.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/AvaliacaoPowerShape.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/AvaliacaoTratamentoFacial.hbm.xml"/>
         -->
        <mapping resource="br/com/pilates/dao/resource/Cadastro.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/CentroCusto.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/Cliente.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/Configuracao.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/ContaPagar.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/ContaReceber.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/Contrato.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/Endereco.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/Estoque.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/Frequencia.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/Horario.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/Produto.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/Professor.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/Servico.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/TipoCadastro.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/TipoContaPagar.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/TipoContaReceber.hbm.xml"/>
        <mapping resource="br/com/pilates/dao/resource/Usuario.hbm.xml"/>
        
    </session-factory>

</hibernate-configuration>