body.frontend{background-color: #fff;}
*, .ui.button{font-family: "Roboto", "Open sans", Lato, "Helvetica Neue", Arial; font-weight: 300; letter-spacing: 0px; font-size: 1.1rem;}
.ui.button{font-size: 1rem;}
.column *{font-weight: 300;}
body.frontend .ui.header, body.frontend .ui.header .content{font-family:Roboto, Lato,'Helvetica Neue',Arial,Helvetica,sans-serif; color: rgba(0,0,0,.5); font-weight: 700;}
.planos .ui.header{text-decoration: underline}
.centered {text-align: center;}
ul li{list-style: none;}
.ui.dimmer{background:rgba(0,0,0,.3);}
.ui.modal{box-shadow:0 1px 14px 1px rgba(0,0,0,.3);}

/* MENU */
.menu .right.menu a.item{color:rgba(0,0,0,.8);}
.menu .right.menu a.item:hover{color:rgba(0,0,0,.5);}
.menu .right.menu a{margin-left:20px;}

/* FRONTEND TOPO */
.ui.inverted.menu.frontendTopo {padding-top: 2px;padding-bottom: 5px; background-color: #fff;}
.ui.inverted.menu.frontendTopo .right.menu {padding-top:11px;}

/* FRONTEND SLIDE */
.ui.grid+.grid.frontendSlide{
  margin-top:0px; 
  height:350px;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
}
.ui.grid+.grid.frontendSlide .one.column{padding-top:70px;}
.ui.grid+.grid.frontendSlide p{font-size: 16px;}
.ui.grid+.grid.frontendSlide .button{color:#fff;}
.ui.grid+.grid.frontendSlide .button.submit{background-color: #00B6BE;}
body.frontend .ui.form .field>label{font-weight: 400; font-size: 16px; color: #808080;}
.ui.form.segment.login{-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.2); -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.2); box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.2);}

.slide1{
/* EACH SLIDE */
  -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader( src=\'../img/slider/slide1.jpg\', sizingMethod=\'scale\')';
  background: url('../img/slider/slide1.jpg') no-repeat top left;
  background-image: url('../img/slider/slide1.jpg');
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slider/slide1.jpg',sizingMethod='scale');
}
.slide2{
  -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader( src=\'../img/slider/slide2.jpg\', sizingMethod=\'scale\')';
  background: url('../img/slider/slide2.jpg') no-repeat top left;
  background-image: url('../img/slider/slide2.jpg');
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slider/slide2.jpg',sizingMethod='scale');
}
.slide3{
  -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader( src=\'../img/slider/slide3.jpg\', sizingMethod=\'scale\')';
  background: url('../img/slider/slide3.jpg') no-repeat top left;
  background-image: url('../img/slider/slide3.jpg');
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slider/slide3.jpg',sizingMethod='scale');
}

/* AREA LOGIN */
.frontendSlide .ui.form.segment{border:1px solid #00B6BE; max-width: 300px; width:280px;}
.frontendSlide .ui.button{padding:.78571em 2.7em}
.frontendSlide .item{text-align:left; margin-bottom: 5px; margin-top:27px;}
.frontendSlide a{font-size: 0.9rem; color:#808080;}

/* BUTTON */
.ui.green.button.degrade{
  background: -webkit-linear-gradient(top,#98c346 0,#9cdd1f 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#98c346 0),color-stop(1,#9cdd1f 100%));
  background: -moz-linear-gradient(top,#98c346 0,#9cdd1f 100%);
  background: -moz-gradient(linear,left top,left bottom,color-stop(0,#98c346 0),color-stop(1,#9cdd1f 100%));
  background: linear-gradient(top,#98c346 0,#9cdd1f 100%);
  background-color: #98c346;
  border-color: #5dba00;
}

/* HEADINGS */
.ui.page.grid.headings{background-color: #FFF;}
.ui.page.grid.headings .ui.header .content{font-size: 1.714rem; font-weight: 700;}

/* FAIXAS */
.faixa{
  margin-top:0px; 
  height:400px;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
}

.faixa1{
	/*
  -moz-box-shadow: inset 0 0 90px #C8C3BE; 
  -webkit-box-shadow: inset 0 0 90px #C8C3BE; 
  box-shadow: inset 0 0 90px #C8C3BE;
  */
  -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader( src=\'../img/faixa1.png\', sizingMethod=\'scale\')';
  background: url('../img/faixa1.png') no-repeat bottom center;
  background-image: url('../img/faixa1.png');
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/faixa1.png',sizingMethod='scale');
  }
.faixa1 .column.row{padding-top: 6rem;}
.faixa1 i.inverted.circular.teal.icon{background-color: #98C346 !important;}

.faixa2{
  -moz-box-shadow: inset 0px 0px 90px #B5986E; 
  -webkit-box-shadow: inset 0px 0px 90px #B5986E; 
  box-shadow: inset 0px 0px 90px #B5986E;
  -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader( src=\'../img/faixa2-wood-bg.jpg\', sizingMethod=\'scale\')';
  background: url('../img/faixa2-wood-bg.jpg') repeat bottom center;
  background-image: url('../img/faixa2-wood-bg.jpg');
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/faixa2-wood-bg.jpg',sizingMethod='scale');
  }
.faixa2 .column.row{padding-top: 6rem;}
.faixa2 i.inverted.circular.teal.icon{background-color: #FF915C !important;}
.faixa2 .column *{font-weight: 400;}
.faixa2 .column p{max-width: 350px;}

.faixa3{
  -moz-box-shadow: inset 0px 0px 70px #706D6F; 
  -webkit-box-shadow: inset 0px 0px 70px #706D6F; 
  box-shadow: inset 0px 0px 70px #706D6F;
  background-color: #ebebeb;}
.faixa3 .column.row{padding-top: 6rem;}
.faixa3 i.inverted.circular.teal.icon{background-color: #897299 !important;}
.faixa3 .column *{font-weight: 400;}
.faixa3 .column p{max-width: 350px;}

/*CONTATO*/
div.contato{
  -moz-box-shadow: inset 0px 0px 70px #D78B4D; 
  -webkit-box-shadow: inset 0px 0px 70px #D78B4D; 
  box-shadow: inset 0px 0px 70px #D78B4D;
  background-color: #FFCB80;
  height: 610px;
}
div.contato .column.row{padding-top: 6rem;}
div.contato .column *{font-weight: 400;}
div.contato .column p{max-width: 350px;}
div.contato .ui.form input[type=text], .contato .ui.form textarea{border: 0px solid !important;border-radius: 5px !important; padding: 13px !important;  font-family: "Roboto" !important;}
div.contato .ui.form .submit{background-color: #897299; color: #fff; width: 100%; padding: 20px; font-size: 1.2rem;}

/* PLANOS */
.ui.grid.planos .ui.segment.column{padding-bottom: 6em;}
.planos .actived{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #897299;
}
.planos .column.ui.horizontal.segment {max-height: 330px;}
.planos .column.actived p{color:#FFF;}
.ui.last[class*="horizontal segment"] {box-shadow: none;}

/* RODAPE */
.rodape{background-color:#1d082f;}
.rodape *{color:#FFF;}
.rodape a{padding-left:20px;}
.ui.grid>.row>.column.right{text-align: right;}
.rodape * {font-size: 0.9rem;}

/* CADASTRE-SE */
